@import '/src/assets/scss/utils.scss';

:host {
  @include flex(1);
  @include custom-flex(column, space-between, center);
  min-height: calc(100 * var(--vh));
  padding: 24px 16px;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;

  /** start background animation */
  background: linear-gradient(110deg, #1b28df, #e25757, #1b28df);
  background-size: 400% 400%;
  -webkit-animation: gradientBackground 30s ease infinite;
  -moz-animation: gradientBackground 30s ease infinite;
  -o-animation: gradientBackground 30s ease infinite;
  animation: gradientBackground 30s ease infinite;
  /** end background animation */

  /** this class is applied many times */
  .logos {
    @include custom-flex(initial, center);
    margin: 16px 24px;

    > a {
      @include custom-flex(initial, center);
      @include transition(opacity, 0.25s);
      opacity: 1;

      &:not(:last-child) {
        margin-right: 16px;
      }

      &:hover {
        opacity: 0.65;
      }
    }


    > img:not(:last-child) {
      margin-right: 16px;
    }
  }

  > .center {
    > .container {
      @include custom-flex(column, initial, center);

      &.self {
        margin: 16px 0;

        > .title {
          margin-bottom: 8px;
          line-height: 1em;
        }
      }
    }
  }

  > .footer {
    a {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  :host {
    > .footer {
      a {
        display: block;
        animation-name: bounce;
        animation-duration: 2s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;

        > mat-icon {
          color: #ffffff;
          font-size: 80px;
          height: 80px;
          width: 80px;
        }
      }
    }
  }
}
