<div class="header"></div>

<div class="center">
  <div class="container self">
    <span class="title">Hello, I'm Florian Dancausse</span>
    <p>a Web Developer</p>
  </div>

  <div class="container languages">
    <span class="sub-title">I'm used to coding with these languages / frameworks</span>
    <div class="logos">
      <app-image-with-tooltip *ngFor="let imageData of languageLogoImages" [data]="imageData"></app-image-with-tooltip>
    </div>
  </div>

  <div class="container socials">
    <span class="sub-title">Want to talk or check my code ?</span>
    <div class="logos">
      <a href="https://www.linkedin.com/in/floriandancausse" target="_blank">
        <app-image-with-tooltip [data]="linkedinImage"></app-image-with-tooltip>
      </a>
      <a href="https://github.com/FlorianDancausse" target="_blank">
        <app-image-with-tooltip [data]="githubImage"></app-image-with-tooltip>
      </a>
    </div>
  </div>
</div>

<div class="footer">
  <a href="./#bottomHook">
    <mat-icon>expand_more</mat-icon>
  </a>
</div>
