:host {
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /** start background animation */
  background: linear-gradient(110deg, #1b28df, #e25757, #1b28df);
  background-size: 400% 400%;
  -webkit-animation: gradientBackground 30s ease infinite;
  -moz-animation: gradientBackground 30s ease infinite;
  -o-animation: gradientBackground 30s ease infinite;
  animation: gradientBackground 30s ease infinite;
  /** end background animation */

  /** this class is applied many times */
  .logos {
    display: flex;
    justify-content: center;
    margin: 1.6em 2.4em;

    > a {
      position: relative;
      display: flex;
      justify-content: center;
      opacity: 1;
      transition: opacity 0.25s;

      &:not(:last-child) {
        margin-right: 16px;
      }

      &:hover {
        opacity: 0.65;
      }
    }


    > img:not(:last-child) {
      margin-right: 16px;
    }
  }

  > .hello-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0;

    > .title {
      margin-bottom: 8px;
      line-height: 1em;
    }
  }

  > .languages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  > .socials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  > a {
    display: none;
    position: absolute;
    bottom: 16px;

    > mat-icon {
      color: #ffffff;
      font-size: 80px;
      height: 80px;
      width: 80px;
    }
  }
}

@media (max-width: 1024px) {
  :host {
    > a {
      display: block;
    }
  }
}
