
<div class="container bio">
  <span class="title">BIO</span>
  <div class="content">
    <p>
      I'm a 23 years old developer with front end expertise.<br>
      <br>
      As a self-learner, I'm interested in new technologies and user experience.<br>
      I seek to perfect my code through good practices.
    </p>
  </div>
</div>

<div class="container work">
  <span class="title">WORK EXPERIENCE</span>
  <div class="content">

    <div class="sub-title-container">
      <span class="sub-title">SIXENSE DIGITAL</span>
      <span class="sub-title date">2018 <mat-icon>arrow_forward_ios</mat-icon> NOW</span>
    </div>
    <p>Fullstack Developer</p>

    <div class="sub-title-container">
      <span class="sub-title">USE DESIGN</span>
      <span class="sub-title date">2017 <mat-icon>arrow_forward_ios</mat-icon> 2018</span>
    </div>
    <p>Front End Developer</p>

    <div class="sub-title-container">
      <span class="sub-title">EVER</span>
      <span class="sub-title date">2017 <mat-icon>arrow_forward_ios</mat-icon> 2017</span>
    </div>
    <p>Front End Developer</p>
  </div>
</div>

<div class="container education">
  <span class="title">EDUCATION</span>
  <div class="content">
    <div class="sub-title-container">
      <span class="sub-title">Simplon Montreuil</span>
      <span class="sub-title date">2015 <mat-icon>arrow_forward_ios</mat-icon> 2016</span>
    </div>
    <p>Web and Mobile Development</p>
  </div>
</div>
