/* You can add global styles to this file, and also import other style files */
@import 'src/assets/scss/custom-theme.scss';
@import 'src/assets/scss/animation-gradient-background.scss';
@import 'src/assets/scss/custom-mat-tooltip.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $dark-background;}

span {
  display: block;
  margin: 0;

  &.title {
    font-size: 2em;
    font-weight: 500;
  }

  &.sub-title {
    font-size: 1.5em;
    font-weight: 500;
  }
}
