@import '/src/assets/scss/utils.scss';

:host {
  @include custom-flex(column, center, center);

  > .container {
    margin-top: 24px;
    width: 100%;

    > .title {
      color: #be4b7a;
      font-weight: 500;
      margin-bottom: 32px;
    }

    > .content {
      margin: 0 5%;

      > .sub-title-container {
        @include custom-flex(initial, space-between);

        > .sub-title {
          color: #ffffff;

          &.date {
            @include custom-flex(initial, initial, center);
            font-size: 1.2em;
          }

          > mat-icon {
            width: 14px;
            height: 14px;
            font-size: 14px;
            padding: 0 8px;
          }
        }
      }

      > p {
        color: #ffffff;
      }
    }
  }
}
