:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > .container {
    width: calc(90%);
    margin-top: 24px;

    > .title {
      color: #be4b7a;
      font-weight: 500;
      margin-bottom: 32px;
    }

    > .content {
      margin: 0 5%;

      > .sub-title-container {
        display: flex;
        justify-content: space-between;

        > .sub-title {
          color: #ffffff;

          &.date {
            display: flex;
            align-items: center;
            font-size: 1.2em;
          }

          > mat-icon {
            width: 14px;
            height: 14px;
            font-size: 14px;
            padding: 0 8px;
          }
        }
      }

      > p {
        color: #ffffff;
      }
    }
  }
}
